*.suo
ATourOfCPlusPlus.sdf
*.sln
*.filters
Ch1_Basics/Ch1_Basics.vcxproj.user
*.log
*.vcxproj
Ch1_Basics/Debug/Ch1_Basics.obj
*.pch
Ch1_Basics/Debug/Ch1_Basics.tlog/Ch1_Basics.lastbuildstate
*.tlog
Ch1_Basics/Debug/Constants.obj
*.obj
Ch1_Basics/Debug/vc140.idb
*.pdb
Ch1_Basics/ReadMe.txt
*.exe
Debug/Ch1_Basics.ilk
*.ipch